<button id="open-modal-draft" name="open-modal-btn-draft">下書き</button>
<div id="demo-modal-draft" class="modal-draft">
    <div class="modal-content-draft">
        <div class="modal-header-draft">
            <span class="close-draft">×</span>
            <h2>下書き</h2>
        </div>
        <div class="draft-list-wrapper">
            <ul id="draft-list">
                {% for sitaga in sitagaki %}
            <li>
            <button class="draft-msg" id="draft1" value={{ sitaga.message }}>{{ sitaga.message }}</button>
            </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>