<!-- <div id="demo-modal-reaction" class="modal-reaction">
    <div class="modal-content-reaction">
        <div class="modal-header-reaction">
            <span class="close-reaction">×</span>
            <h2>リアクションを追加</h2>
        </div>
        <div class="reaction-list-wrapper">
            <ul id="reaction-list">
            <li>
            <button class="reaction-msg" id="reaction1" value=><ion-icon name="thumbs-up-outline"></ion-icon></button>
            </li>
            <li>
            <button class="reaction-msg" id="reaction1" value=><ion-icon name="thumbs-down-outline"></ion-icon></button>
            </li>
            <li>
            <button class="reaction-msg" id="reaction1" value=>ボタン3</button>
            </li>
            </ul>
        </div>
    </div>
</div> -->