{% extends 'base.html' %}
{% block title %}
  <title>Setting</title>
{% endblock %}
{% block body %}
<body class="todo-body">
<div class="todo-wrapper">
<form action="/todo" method="post">
        <div id="todo-input">
          <a class="backtoindex" href="{{ url_for('index') }}">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          </a>
            <label >タスク名: <textarea name="tkna" id="datainput" rows="1" autofocus required></textarea></label><br>
            <label >　　期日: <input type="date" name="kizi" id="datainput" required></label><br>
            <fieldset>
            <p>優先度:</p>
                <input id="item-1" class="radio-inline__input" type="radio" name="level" value="低"/>
                <label class="radio-inline__label" for="item-1">
                    低
                </label>
                <input id="item-2" class="radio-inline__input" type="radio" name="level" value="中" checked="checked"/>
                <label class="radio-inline__label" for="item-2">
                    中
                </label>
                <input id="item-3" class="radio-inline__input" type="radio" name="level" value="高"/>
                <label class="radio-inline__label" for="item-3">
                    高
                </label>
            </fieldset>
            <button id="submit">登録</button>
</form>
        </div>
        <hr>
        <div class="todo_filter">
        <a href="#" id="show_all">全て</a>
        <a href="#" id="show_undone">未完了</a>
        <a href="#" id="show_done">完了済み</a>
        </div>
        <table id="todoTable">
            <tr>
                <th id="todoLabel">タスク名</th>
                <th id="priorityLabel">優先度</th>
                <th id="dateLabel">期日</th>
                <th id="deleteLabel">削除</th>
            </tr>
            {% for todos in todolist %}
            <tr class="todotable">
            <td class="templete-msg" id="templete1" value={{ todos.tkname }}>{{ todos.tkname }}</td>
            <td class="templete-msg" id="templete1" value={{ todos.proity }}>{{ todos.proity }}</td>
            <td class="templete-msg" id="templete1" value={{ todos.expr }}>{{ todos.expr }}</td>
            <td class="delete-tmp" id="deletedo">
                <form action="/todo_delete" method="POST">
                <button class="delete-todo" name="todo_id" value="{{ todos.id }}">
                  <ion-icon name="trash-bin-outline"></ion-icon>
                </button>
              </form>
            </td>
            </tr>
            {% endfor %}
        </table>
</div>
</body>
    <script src="{{url_for('static',filename='js/todo.js')}}"
    type="text/javascript"
  ></script>
    {% endblock %}